/* 
================================
 Container Styles for DotNetNuke
================================
*/   

.containermaster_green {
	width: 100%;
	background-color: #a5dfb1;
	border-right: #23a53e 1px solid; 
	border-top: #23a53e 1px solid; 
	border-left: #23a53e 1px solid; 
	border-bottom: #23a53e 1px solid; 
	moz-border-radius-bottomleft: 15px; 
	moz-border-radius-bottomright: 15px; 
	moz-border-radius-topleft: 3px; 
	moz-border-radius-topright: 3px;
}
.containerrow1_green {
	background-image: url(gradient_MidGreen.jpg);
}
.containerrow2_green {
	background-color: #ffffff;
}
